body, input, form, button{
  font-family: Roboto;
  font-weight: 300;
  font-size: large;
}

.container{
  width: 90vw;
  margin: 0 auto;
  font-size: large;
}

.enter-team form{
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 3.5em;
  margin: 0 auto;
}

.enter-team input,
.enter-team button {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}

.scoreboard {
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  width: fit-content;
  overflow: hidden;
  margin: 0.4em;
}

.teamName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 0.2em;
  padding-left: 0.2em;
  padding-top: 0.2em;
}

.score {
  font-weight: 200;
  font-size:2.75em;
  padding-bottom: 0.25em;
}

.scorecard {
  position: relative;
  z-index: 1;
}

.scoreboard-list {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: fit-content;
  margin: auto;
}

@keyframes scoreFlashGreen {
  0% {
    background-color: rgba(150, 245, 122, 0);
  }
 50% {
   background-color: rgba(150, 245, 122, 0.64);
 }
 100% {
   background-color: rgba(150, 245, 122, 0);
 }
}

.scoreFlashGreen {
  animation-name: scoreFlashGreen;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-direction: normal;
}

@keyframes scoreFlashRed {
  0% {
    background-color: rgba(245, 128, 122, 0);
  }
 50% {
   background-color: rgba(245, 128, 122, 0.64);
 }
 100% {
   background-color: rgba(245, 128, 122, 0);
 }
}

.scoreFlashRed {
  animation-name: scoreFlashRed;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
  animation-direction: normal;
}
